@page
@Html.AntiForgeryToken()
@model IndexModel
@{
    ViewData["Title"] = "Home - Oldschool RuneScape Gear Previewer";
}

<div class="text-center">
    <div class="container row">
        <!-- Stats Container -->
        <div class="col rs-text-color">
            <div>
                <div class="cust-bonus-type">Attack bonus</div>
                <ul class="padding-0 list-main">
                    <li class="list-item-padding">
                        Stab: <span id="stab-accuracy-bonus">+0</span>
                    </li>
                    <li class="list-item-padding">
                        Slash: <span id="slash-accuracy-bonus">+0</span>
                    </li>
                    <li class="list-item-padding">
                        Crush: <span id="crush-accuracy-bonus">+0</span>
                    </li>
                    <li class="list-item-padding">
                        Magic: <span id="magic-accuracy-bonus">+0</span>
                    </li>
                    <li class="list-item-padding">
                        Ranged: <span id="ranged-accuracy-bonus">+0</span>
                    </li>
                </ul>
            </div>

            <div>
                <div class="cust-bonus-type">Defence bonus</div>
                <ul class="padding-0 list-main">
                    <li class="list-item-padding">
                        Stab: <span id="stab-defence-bonus">+0</span>
                    </li>
                    <li class="list-item-padding">
                        Slash: <span id="slash-defence-bonus">+0</span>
                    </li>
                    <li class="list-item-padding">
                        Crush: <span id="crush-defence-bonus">+0</span>
                    </li>
                    <li class="list-item-padding">
                        Magic: <span id="magic-defence-bonus">+0</span>
                    </li>
                    <li class="list-item-padding">
                        Ranged: <span id="ranged-defence-bonus">+0</span>
                    </li>
                </ul>
            </div>

            <div>
                <div class="cust-bonus-type">Other bonuses</div>
                <ul class="padding-0 list-main">
                    <li class="list-item-padding">
                        Melee strength: <span id="melee-strength-bonus">+0</span>
                    </li>
                    <li class="list-item-padding">
                        Ranged strength: <span id="ranged-strength-bonus">+0</span>
                    </li>
                    <li class="list-item-padding">
                        Magic damage: <span id="magic-damage-bonus">+0.0%</span>
                    </li>
                    <li class="list-item-padding">
                        Prayer: <span id="prayer-bonus">+0</span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Gear Container -->
        <div class="col">
            <div class="test-background">
                <table class="table cust-table-style">
                    <tr>
                        <td><!-- Empty --></td>
                        <td class="center-icon"><img class="center-icon invis-border" id="helmet" src="~/images/Head_slot.png" onclick="outlineClickedSlot(this), getItems('Helmet')" /></td>
                        <td><!-- Empty --></td>
                    </tr>

                    <tr>
                        <td><img class="invis-border" id="cape" src="~/images/Cape_slot.png" onclick="outlineClickedSlot(this)" /></td>
                        <td class="center-icon"><img class="center-icon invis-border" id="neck" src="~/images/Neck_slot.png" onclick="outlineClickedSlot(this)" /></td>
                        <td><img class="invis-border" id="ammo" src="~/images/Ammo_slot.png" onclick="outlineClickedSlot(this)" /></td>
                    </tr>

                    <tr>
                        <td><img class="invis-border" id="weapon" src="~/images/Weapon_slot.png" onclick="outlineClickedSlot(this)" /></td>
                        <td class="center-icon"><img class="center-icon invis-border" id="body" src="~/images/Body_slot.png" onclick="outlineClickedSlot(this)" /></td>
                        <td><img class="invis-border" id="shield" src="~/images/Shield_slot.png" onclick="outlineClickedSlot(this)" /></td>
                    </tr>

                    <tr>
                        <td><!-- Empty --></td>
                        <td class="center-icon"><img class="center-icon invis-border" id="legs" src="~/images/Legs_slot.png" onclick="outlineClickedSlot(this)" /></td>
                        <td><!-- Empty --></td>
                    </tr>

                    <tr>
                        <td><img class="invis-border" id="hands" src="~/images/Hands_slot.png" onclick="outlineClickedSlot(this)" /></td>
                        <td class="center-icon"><img class="center-icon invis-border" id="feet" src="~/images/Feet_slot.png" onclick="outlineClickedSlot(this)" /></td>
                        <td><img class="invis-border" id="ring" src="~/images/Ring_slot.png" onclick="outlineClickedSlot(this)" /></td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Selecter & Save Container -->
        <div class="col">
            <div>
                <input type="text" id="txtSearchDropdown" class="search-dropdown" />
                <select id="selectDropdown" size="5" class="dropdown-gear">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                </select>
            </div>
        </div>
    </div>
</div>
