<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OldschoolRuneScapeGearPreviewer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">OldschoolRuneScapeGearPreviewer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <!-- Login and Register stuff -->
        <div class="row" style="margin-bottom: 5%;">
            <div class="float-right col text-align-right">
                <div id="modalResult" class="alert-fix">

                </div>
                @if (!Convert.ToBoolean(ViewData["LoggedIn"]))
                {
                    <button data-toggle="modal" data-target="#loginModal">Login</button>
                } else
                {
                    <p>LoggedIn</p>
                }
            </div>

            <!-- Login Modal -->
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center small-padding">
                                    <input type="text" id="loginEmail" placeholder="Email" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center small-padding">
                                    <input type="password" id="loginPassword" placeholder="Password" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="display: block;">
                            <div class="row">
                                <div class="col-1">&nbsp;</div>
                                <div class="col-9">
                                    <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary float-right" onclick="loginUser()">Login</button>
                                </div>
                                <div class="col-1">&nbsp;</div>
                            </div>

                            <div class="row" style="font-size: 15px">
                                <p>Don't have an account? Register</p> &nbsp;<u><b><a data-dismiss="modal" data-toggle="modal" data-target="#registerModal">here</a></b></u>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Register Modal -->
            <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center small-padding">
                                    <input type="text" id="registerEmail" placeholder="Email" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center small-padding">
                                    <input type="text" id="registerUsername" placeholder="Username" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center small-padding">
                                    <input type="password" id="registerPassword" placeholder="Password" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="display: block;">
                            <div class="row">
                                <div class="col-1">&nbsp;</div>
                                <div class="col-9">
                                    <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Cancel</button>
                                    <button type="button" data-dismiss="modal" class="btn btn-primary float-right" onclick="registerUser();">Register</button>
                                </div>
                                <div class="col-1">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - OldschoolRuneScapeGearPreviewer - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
